@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model IEnumerable<Models.ImageGallery>
@using Models;
<style type="text/css">
    .containerImg ul {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

        .containerImg ul li {
            list-style: none;
            margin-bottom: 25px;
        }

            .containerImg ul li img {
                cursor: pointer;
                width: 150px;
                height: 100px;
            }

    .modal-body {
        padding: 5px !important;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-dialog img {
        text-align: center;
        margin: 0 auto;
    }

    .controls {
        width: 50px;
        display: block;
        font-size: 11px;
        padding-top: 8px;
        font-weight: bold;
    }

    .next {
        float: right;
        text-align: right;
    }

    .previous {
        float: left;
        text-align: left;
    }

    /*override modal for demo only*/
    .modal-dialog {
        max-width: 500px;
        padding-top: 90px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center heading dark animate_top">Image <span>Gallery</span></div>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            @*<div class="panel-heading" style="font-weight: bold">
                <i class="fa fa-image  fa-fw"></i>Gallery Others
            </div>*@
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="containerImg">
                    <ul class="row">
                        @if (ViewData["lsOthers"] != null)
                        {
                            List<Models.ImageGallery> lsOthers = ViewData["lsOthers"] as List<Models.ImageGallery>;
                            foreach (ImageGallery img in lsOthers)
                            {
                            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                                <img id="@img.Id" class="img-responsive" src="~/@img.ImagePath" />
                            </li>
                            }
                        }
                    </ul>
                </div>
                <!-- /containerImg -->


                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Content/View_components/js/photo-gallery.js")" type="text/javascript"></script>
}
@*<div class="gallery-bg parallax" id="gallery">
        <div class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading dark animate_top">Image <span>Gallery</span></div>
                </div>
            </div>
            <section class="grid3d vertical" id="grid3d">
                <div class="grid-wrap">
                    <div class="grid">
                        <figure>
                            <img src="~/Content/View_components/images/gallery/1.jpg" alt="img01" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/2.jpg" alt="img05" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/3.jpg" alt="img08" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/4.jpg" alt="img02" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/5.jpg" alt="img04" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/6.jpg" alt="img03" />
                        </figure>
                    </div>
                </div>
                <!-- /grid-wrap -->
                <div class="content">
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/1.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/2.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/3.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/4.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/5.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/6.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>

                    <span class="loading"></span>

                    <span class="close-content fa fa-times"></span>
                </div>
            </section>
        </div>
    </div>*@
