@model IEnumerable<Models.Menu>

@if (Model != null)
{
    foreach (var item in Model)
    {
        string str = item.Subject;
        str = str.Split(new char[] { ' ' })[0];
        if (str.Equals("Home"))
        {
    <li class="active"><a href="@Url.Action(str, "User")">@item.Subject</a></li>
        }
        else
        {
    <li><a href="@Url.Action(str, "User")">@item.Subject</a></li>
        }
    }
}






