@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="about_us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-1"></div>
                <div class="col-md-7 animate_left">
                    <h1>Lorem ipsum duis mollis est non commodo luctus nisi erat porttitor.</h1>
                    <h2>Lorem ipsum duis mollis est non commodo luctus nisi erat porttitor.</h2>
                    <h3>Lorem ipsum duis mollis est non commodo luctus nisi erat porttitor.</h3>
                    <h4>Lorem ipsum duis mollis est non commodo luctus nisi erat porttitor.</h4>
                    
                </div>
                <div class="col-md-3 animate_right">
                    <button class="top_btn">Button</button>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 welcome_txt text-center animate_bottom">
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the <span>1500s</span>, when an unknown <span>printer</span> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged. It was <span>popularised</span> in the 1960s.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
            <!-- End call action text-->
        </div>
    </div>


