@{
    ViewBag.Title = "OurAchievements";
}

<!-- Stories -->
	<div class="stories" id="stories">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 heading dark animate_top">Our students and their <span>stories</span></div>
			</div>	
			<div class="row">
				<div class="col-md-12">
					<ul class="bxslider_story">
						<li class="s1">
							<img src="images/students/1.jpg" alt="img">
							<h3 class="animate_top">Shoriful Hasan</h3>
							<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
						</li>
					
						<li class="s1">
							<img src="images/students/2.jpg" alt="img">
							<h3 class="animate_top">Sharifa Haq</h3>
							<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
						</li>			
					
						<li class="s1">
							<img src="images/students/4.jpg" alt="img">
							<h3 class="animate_top">Salma Khatun</h3>
							<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
						</li>
					
						<li class="s1">
							<img src="images/students/3.jpg" alt="img">
							<h3 class="animate_top">Shoriful Hasan</h3>
							<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
						</li>
					
						<li class="s1">
							<img src="images/students/5.jpg" alt="img">
							<h3 class="animate_top">Karuk Khan</h3>
							<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
						</li>			
					
						<li class="s1">
							<img src="images/students/1.jpg" alt="img">
							<h3 class="animate_top">Shorif Hasan</h3>
							<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
						</li>
					</ul>	
				</div>		
			</div>
		</div>	  
	</div>
