@model IEnumerable<Models.Informations>
@{
    ViewBag.Title = "OurAchievements";
}
<style type="text/css">
    p {
        color: blue;
    }

</style>
<div class="container">
			<div class="row">
            <div class="col-md-12 heading dark text-center animate_top">Our Achievements</div>
                 @foreach (var item in Model)
                    {
				<div class="col-md-1"></div>
				<div class="col-md-10 text-center animate_bottom">
					
                    <p>@Html.Raw(item.Contents)</p>
				</div>
				<div class="col-md-1"></div>
                 }
			</div>
		</div>
