@model IEnumerable<Models.Informations>
@{
    ViewBag.Title = "OurMission";
}
<div class="how_can_you_help_bg parallax" id="help">
    <div class="how_can_you_help">
        <div class="container">
            <div class="col-md-12 heading dark text-center animate_top">Our  <span>Mission</span></div>
            <div class="row">
                <div class="col-md-12 text-center animate_top">
                    @foreach (var item in Model)
                    {
                        <h3>@item.Contents </h3>
 
                    }
                </div>
            </div>
        </div>
    </div>
</div>
