@{
    ViewBag.Title = "OurSupporters";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 animate_top">
            <h3><i class="fa fa-question-circle"></i>Lorem Ipsum has been the industry's standard?</h3>
            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </h3>

        </div>
        <div class="col-md-6 animate_top">
            <h3><i class="fa fa-question-circle"></i>Lorem Ipsum has been the industry's standard?</h3>

            <p class="animate_bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 animate_top">
            <h3><i class="fa fa-question-circle"></i>Lorem Ipsum has been the industry's standard?</h3>

            <p class="animate_bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="col-md-6 animate_top">
            <h3><i class="fa fa-question-circle"></i>Lorem Ipsum has been the industry's standard?</h3>

            <p class="animate_bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
    </div>
</div>