@model IEnumerable<Models.Informations>
@{
    ViewBag.Title = "OurSupporters";
}
<div class="how_can_you_help_bg parallax" id="help">
    <div class="how_can_you_help">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 heading dark text-center animate_top">Our  supporters</div>
                <div class="col-md-12 text-center animate_top">
                    @foreach (var item in Model)
                    {
                        @*<h3><i class="fa fa-facebook"></i>Our supporters</@*h3>*@
                        <h3>@Html.Raw(item.Contents) </h3>
 
                    }
                </div>
            </div>
        </div>
    </div>
</div>
