@model IEnumerable<Models.Informations>
@{
    ViewBag.Title = "OurTeam";
}

<!-- About us -->
	<div class="about_us">
		<div class="container">
			<div class="row text-center">
                @foreach (var item in Model)
                {
                    <h1 class="heading">All about <span>our team</span> Website</h1>
                    <div class="col-md-1"></div>
				<div class="col-md-10 animate_left">
					<h3>@item.Contents</h3>
				</div>
				
				<div class="col-md-1"></div>
                }
				
			</div><!-- End call action text -->
		</div>
	</div>
