@model IEnumerable<Models.Informations>
@{
    ViewBag.Title = "ReadAboutUs";
}
@*<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 welcome_txt text-center animate_bottom">
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the <span>1500s</span>, when an unknown <span>printer</span> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged. It was <span>popularised</span> in the 1960s.
					</p>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>*@
<!-- About us -->
	<div class="about_us">
		<div class="container">
			<div class="row text-center">
                @foreach (var item in Model)
                {
                    <h1 class="heading">All about <span>NGO</span> Website</h1>
                    <div class="col-md-1"></div>
				<div class="col-md-10 animate_left">
					<h3>@Html.Raw(item.Contents)</h3>
				</div>
				
				<div class="col-md-1"></div>
                }
				
			</div><!-- End call action text -->
		</div>
	</div>
