@model IEnumerable<Models.Informations>
@{
    ViewBag.Title = "WhatWeDo";
}

<@*!-- Helping children to educate -->
    <div class="education" id="education">
		<div class="container text-center">
            <div class="row">
                <div class="col-md-12 heading dark animate_top">What  <span>we do</span></div>
            </div>
        	<div class="row">
        		<div class="col-md-4 b1">
                	<i class="fa fa-heart"></i>
                    <h3 class="animate_top">Helping Children</h3>
                    <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>  
            	</div>
        		<div class="col-md-4 b2">
                	<i class="fa fa-star"></i>
                    <h3 class="animate_top">Ensuring better life</h3>
                    <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>               
            	</div>
        		<div class="col-md-4 b3">
                	<i class="fa fa-pencil"></i>
                    <h3 class="animate_top">Education for all</h3>
                    <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
            	</div>
            </div>
        	<div class="row">
        		<div class="col-md-4 b21">
                	<i class="fa fa-book"></i>
                    <h3 class="animate_top">Helping Children</h3>
					<p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>  
            	</div>
        		<div class="col-md-4 b22">
                	<i class="fa fa-check-circle-o"></i>
                    <h3 class="animate_top">Ensuring better life</h3>
                    <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>               
            	</div>
        		<div class="col-md-4 b23">
                	<i class="fa fa-edit"></i>
                    <h3 class="animate_top">Education for all</h3>
                    <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
            	</div>
            </div>			
     	</div>
    </div>*@
<div class="container">
    <div class="row">
        <div class="col-md-12 heading dark text-center animate_top">What  <span>we do</span></div>
        @foreach (var item in Model)
        {
                      
            <div class="col-md-1"></div>
            <div class="col-md-10 welcome_txt text-center animate_bottom">
                @*<p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the <span>1500s</span>, when an unknown <span>printer</span> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining unchanged. It was <span>popularised</span> in the 1960s.
                </p>*@
                <p>@item.Contents</p>
            </div>
            <div class="col-md-1"></div>
        }
    </div>
</div>
