@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="gallery-bg parallax" id="gallery">
        <div class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading dark animate_top">Image <span>Gallery</span></div>
                </div>
            </div>
            <section class="grid3d vertical" id="grid3d">
                <div class="grid-wrap">
                    <div class="grid">
                        <figure>
                            <img src="~/Content/View_components/images/gallery/1.jpg" alt="img01" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/2.jpg" alt="img05" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/3.jpg" alt="img08" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/4.jpg" alt="img02" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/5.jpg" alt="img04" />
                        </figure>
                        <figure>
                            <img src="~/Content/View_components/images/gallery/6.jpg" alt="img03" />
                        </figure>
                    </div>
                </div>
                <!-- /grid-wrap -->
                <div class="content">
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/1.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/2.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/3.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/4.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/5.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img">
                            <img src="~/Content/View_components/images/gallery/6.jpg" alt="img01" />
                        </div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>

                    <span class="loading"></span>

                    <span class="close-content fa fa-times"></span>
                </div>
            </section>
        </div>
    </div>
