@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="contact-bg parallax" id="contact">
        <div class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading animate_top"><span class="brd">&nbsp;&nbsp;&nbsp;&nbsp;Login</span>&nbsp;&nbsp;&nbsp     Form</div>
                </div>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-5 contact_form animate_left">



                        <form name="loginForm" id='contact_form' method="post" action=''>


                            <div id='name_error' class='error'>
                                <img src='Content/View_components/images/error.png' alt="img">Please enter your username.
                            </div>
                            <input type="text" name='name' id='name' class="form-control" placeholder="Your Username">

                            <div id='pass_error' class='error'>
                                <img src='Content/View_components/images/error.png' alt="img">Please enter your valid password.
                            </div>
                            <input type="password" name='password' id='password' class="form-control" placeholder="Password">

                            <!--<div id='message_error' class='error'>
                                <img src='Content/View_components/images/error.png' alt="img">Please enter your message.
                            </div>
                            <textarea name='message' id='message' class="form-control" placeholder="Message"></textarea>-->

                            <button class="bttn" id='login' type="submit">Login</button>
                            <button class="bttn" id='cancel' type="reset">Cancel</button>
                            <p class="success"><a href="register.html">You don't have an account? Registry now!</a></p>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>
