@{
    Layout = null;
}

<style>
    #custom-content img {max-width: 100%;margin-bottom: 10px;}
    </style>

<div id="custom-content" class="white-popup-block recent_news" style="max-width:600px; margin: 20px auto;">
   
	@*<img src="~/Content/View_components/images/activity/act2.jpg" alt="img" >*@

	<h1>You've join the team :D</h1>
	

</div>