@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="team">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center heading dark animate_top">
                    Who are behind <span>Borno</span>
                </div>
            </div>

            <div class="row t1">
                <div class="col-md-3 animate_left">
                    <img src="Content/View_components/images/organizers/org1.jpg" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h3>Richard Roe</h3>
                    <p>President, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row t1">

                <div class="col-md-9 animate_left">
                    <h3>Janny Roe</h3>
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 animate_right">
                    <img src="Content/View_components/images/organizers/org2.jpg" alt="img">
                </div>
            </div>
            <div class="row t1">
                <div class="col-md-3 animate_left">
                    <img src="Content/View_components/images/organizers/org3.jpg" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h3>Jane Doe</h3>
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Subscribe -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading newsletter animate_top">
                    Join Our <span>Mailing</span> List
                </div>
            </div>

            <form id="signup" action="index.html" method="get" class="animate_bottom">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <span id="response"></span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-5 text-center nopadding">
                        <input type="text" name="email" id="email" placeholder="Your email address..." class="form-control" />
                    </div>
                    <div class="col-md-3 text-center nopadding">
                        <input type="submit" name="submit" value="Subscribe" id="subscribe_button" class="button " />
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <div id="no-spam">We'll never spam or give this address away</div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
        </div>
    </div>
