@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="recent_news" id="recent_news">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 heading dark animate_top">Recent <span>Programs</span></div>
            </div>
            <div class="row act">
                <div class="col-md-3">
                    <img src="Content/View_components/images/activity/act4.jpg" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Lorem ipsum dolor sit</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
							<i class="fa fa-calendar"></i>August 5, 2013<br>
							<i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
							<i class="fa fa-map-marker"></i>TheWebLab
						</p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="Content/View_components/images/activity/act2.jpg" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Sed ut perspiciatis</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
							<i class="fa fa-calendar"></i>August 5, 2013<br>
							<i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
							<i class="fa fa-map-marker"></i>TheWebLab
						</p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="Content/View_components/images/activity/act3.jpg" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Lorem ipsum dolor sit</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
							<i class="fa fa-calendar"></i>August 5, 2013<br>
							<i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
							<i class="fa fa-map-marker"></i>TheWebLab
						</p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="Content/View_components/images/activity/act3.jpg" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Lorem ipsum dolor sit</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
							<i class="fa fa-calendar"></i>August 5, 2013<br>
							<i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
							<i class="fa fa-map-marker"></i>TheWebLab
						</p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="login.html">...read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
