@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}

@using DataAccessLayer;

@model IEnumerable<Models.Programs>

<div class="recent_news" id="recent_news">
    <div class="container">
       

        <div class="col-md-12 heading dark animate_left">Recent <span>Programs</span></div>
        @{Html.RenderAction("PartialViewProgram", "Programs", new { type = "recent" });}

        <div class="col-md-12 heading dark animate_left">Upcoming <span>Programs</span></div>
        @{Html.RenderAction("PartialViewProgram", "Programs", new { type = "upcoming" });}

        <div class="col-md-12 heading dark animate_left">Complete <span>Programs</span></div>
        @{Html.RenderAction("PartialViewProgram", "Programs", new { type = "complete" });}

        
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}