 <style>
    #custom-content img {max-width: 100%;margin-bottom: 10px;}
    </style>
@model Models.Programs
<div id="custom-content" class="white-popup-block recent_news" style="max-width:600px; margin: 20px auto;">
   
	<img src="~/Content/View_components/images/activity/act2.jpg" alt="img" >

	<h4>@Html.DisplayFor(model => model.Name)</h4>
	<p class="date">Issie 18 - 24 October 2013</p>
	<p>@Html.DisplayFor(model => model.Contents)</p>

</div>
