 <style>
    #custom-content img {max-width: 100%;margin-bottom: 10px;}
    </style>
@model Models.Programs
<div id="custom-content" class="white-popup-block recent_news" style="max-width:600px; margin: 20px auto;">
   @{Models.ImageGallery ls1;
     ls1 = ViewData["ls1"] as Models.ImageGallery;
     }
    
	<img src="~/@ls1.ImagePath" alt="img" >		 
	

	<h4>@Html.DisplayFor(model => model.Name)</h4>
	<p class="date"> 18 - 24 October 2015</p>
	<p>@Html.DisplayFor(model => model.Contents)</p>

</div>
