@model IEnumerable<Models.ContactDetails>



   
<div class="col-md-5 contact_info animate_right">


    <h5>Address</h5>
    <p>
        @foreach (var item in Model)
        {
                            
            @item.Address<br>
                        
        }
    </p>


    <h5>Phone</h5>
    <p>
        @foreach (var item in Model)
        {
                            
            @item.Phone<br>
                        
        }
    </p>

    <h5>Email</h5>
    <p>
        @foreach (var item in Model)
        {
                            
            @item.Email<br>
                        
        }
    </p>
      

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2634.1250195838015!2d105.84425681601573!3d20.984003935485028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb7d4993d5b02357e!2sAptech+Computer+Education!5e0!3m2!1svi!2s!4v1444410272409" width="550" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>




