@model IEnumerable<Models.ContactDetails>



                <div class="col-md-5 contact_info animate_right">

                    <p>@*Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam erat ut turpis malesuada .*@</p>

                    <h5>Address</h5>
                    <p>
                        @foreach (var item in Model)
                        {
                            
                            @item.Address<br>
                        
                        }
                    </p>


                    <h5>Phone</h5>
                    <p>
                        @foreach (var item in Model)
                        {
                            
                            @item.Phone<br>
                        
                        }
                    </p>

                    <h5>Email</h5>
                    <p>
                        @foreach (var item in Model)
                        {
                            
                            @item.Email<br>
                        
                        }
                    </p>
                </div>
                <div class="col-md-1"></div>


           
